root = true

[*]
print_width = 125
indent_style = tab
indent_size = 4
tab_width = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
curly_bracket_next_line = false
spaces_around_operators = true
spaces_around_brackets = outside
indent_brace_style = K&R # OTBS
encoding = utf-8

[*.ps1]
end_of_line = crlf

[*.psm1]
end_of_line = crlf

[*.yml]
indent_size = 2
indent_style = space
tab_width = 2

[*.dart]
indent_size = 2
indent_style = space
tab_width = 2

[*.yaml]
indent_size = 2
indent_style = space
tab_width = 2
